/*Header starts*/

.body {
    margin: 0;
}

.header {
    max-width: 1180px;
    margin: 0 auto;
}

.header-content {
    height: 40px;
    width: 100%;
    padding-top: 32px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
}

.logo {
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo-sign-layer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo-sign-layer #ellipse {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: red;
}

.logo-sign-layer #vector {
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 5px;
    border-style: solid;
    border-width: 20px 0 20px 32px;
    border-color: transparent transparent transparent #FFFFFF;
}

.logo-text {
    font-size: 20px;
    font-weight: bold;
    margin-left: 11px;
}

.search {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 60px;
}

.search-input {
    width: 320px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid #333333;
    text-align: left;
    font-size: medium;
}

.search-input:focus {
    outline: none;
}

.div-search-button {
    margin-left: 32px;
}

.search-button {
    border: none;
    background-color: white;
    color: red;
    font-size: medium;
}

.login-button {
    position: relative;
    border: none;
    width: 113px;
    height: 38px;
    background-color: red;
    color: white;
    border-radius: 4px;
    font-size: medium;
    cursor: pointer;

}


.login-button:hover {
    background-color: #CC221B;
}

/*Header ends*/


/*Main starts*/

.wrapper {
    font-family: 'Rubik', sans-serif;
    max-width: 1180px;
    margin: 0 auto;
}


.tabs-nav {
    display: flex;
}

.tabs__nav {
    max-width: 256px;
    margin: 0 auto;

}

.tabs-nav__item {
    cursor: pointer;
    flex: 1;
    padding: 48px 12px 9px 12px;
    font-size: 28px;
}

.tabs-nav__item.is-active {
    border: 0;
    border-bottom: 2px solid #E5261E;
    color: red;
}

.tab {
    display: none;
}

.tab.is-active {
    display: block;
}

.title {
    max-width: 134px;
    max-height: 28px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
    padding-top: 41px;
}

.newfilms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grip-column-gap: 35px;

}

.cat__card__title {
    font-size: 20px;
    line-height: 24px;
    color: #333333;
    max-width: 280px;
}

.picture {
    position: relative;
    max-width: 280px;

}

.picture__text {
    position: absolute;
    text-decoration: none;
    left: 5%;
    right: 0;
    top: 5%;
    bottom: 0;
    font-size: 16px;
    line-height: 140%;
    max-width: 250px;
    color: #F2F2F2;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}


.picture:hover .picture__text {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    /*background: rgba(0, 0, 0, 0.35);*/
}

/*Жанры*/

.all__genres {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grip-column-gap: 20px;
}

.genres__title {
    padding-top: 32px;
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
    color: #333333;
}

.genres__comedy {
    position: relative;
    width: 280px;
    height: 208px;
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
    opacity: 0.8;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: block;
}

.smile-p {
    font-size: 48px;
    line-height: 57px;
    width: 48px;
    height: 48px;
    display: block;
    margin: 80px 116px 80px 109px;
}

.comedy-a {
    display: block; /* Ссылка как блочный элемент */
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
}

.comedy-a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.title-a {
    display: block; /* Ссылка как блочный элемент */
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    margin-top: -48px;
}

.genres__drama {
    position: relative;
    width: 280px;
    height: 208px;
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
    opacity: 0.8;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: block;
}

.genres__fantastic {
    position: relative;
    width: 280px;
    height: 208px;
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
    opacity: 0.8;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: block;
}

.genres__horrors {
    position: relative;
    width: 280px;
    height: 208px;
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
    opacity: 0.8;
    box-shadow: inset 0 0 16px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    display: block;
}

/*Tele starts*/

.channels {
    width: 100%;
    height: 696px;
    scroll-behavior: smooth;
    overflow-y: scroll;
    margin-top: 27px;
}

.channel {
    display: flex;
    align-items: center;
    position: relative;
    height: 162px;
    border-radius: 8px;
    background-color: #F2F2F2;
}

.channel:not(:last-child) {
    margin-bottom: 16px;
}

.channel-logo {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.channel-name {
    font-weight: 500;
    font-size: 20px;
    margin: 0 0 0 0;
}

.channel-schedule {
    padding-top: 0;
}

.channel-ul {
    list-style: none;
    font-weight: 500;
    font-style: normal;
    font-size: 16px;
    margin: 0;
    padding-left: 0;
}

.channel-li:first-child {
    color: red;
}

.channel-li:not(:last-child) {
    margin-bottom: 12px;
}

.channel-li {
    display: flex;
    max-height: 19px;
}

p:not(:last-child) {
    margin-right: 16px;
}

/*Tele ends*/

/*Footer starts*/

.div__footer {
    font-family: 'Rubik', sans-serif;
    max-width: 1440px;
    max-height: 120px;
    background: #F2F2F2;
    margin-top: 72px;
    margin-left: auto;
    margin-right: auto;
}

.footer__logo__pic {
    padding: 28px 40px 28px 130px;
}

.footer__item {
    display: flex;
    flex-wrap: wrap;
}

.address {
    padding: 10px 298px 79px 0;
    font-size: 16px;
    line-height: 19px;
    color: #333333;

}

.footer__address__title {
    list-style-type: none;
    padding-bottom: 6px;
}

.footer__address__href {
    list-style-type: none;
    max-width: 940px;
}

.footer__address__href a {
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    color: #1F4766;
}

/*After registering*/

.output {

    color: #333333;
    font-size: 16px;
    line-height: 19px;
    margin-right: -100px;
}